.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-template-rows: min-content max-content;
  row-gap: 2rem;

  @media screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 5vh;

    @media screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    height: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
